@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
       /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
      }
}




/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (for horizontal scrollbar) */
  }
  
  ::-webkit-scrollbar-track {
    background: #2c2c2c; /* Background color of the scrollbar track */
    border-radius: 10px; /* Roundness of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444444; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the thumb */
    border: 3px solid #2c2c2c; /* Padding around the thumb to create some space */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #717171; /* Color of the scrollbar thumb on hover */
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #717171; /* Color of the scrollbar thumb on click */
  }
  
  /* Scrollbar styles for Firefox */
  html {
    scrollbar-width: thin; /* Makes the scrollbar thin */
    scrollbar-color: #717171 #2c2c2c; /* thumb color and track color */
  }
  